body {
    background-color: #e7e6e6;
}

/* cabecalho */
.navbar {
    background-color: #1d1b1b;
    max-height: 10vh;
}

.nav-link {
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #faaa5f;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #faaa5f;
}

.logotipo {
    width: 200px;
    height: 80%;
}

.carousel-item {
    max-width: 920px;
    max-height: 400px;
}

.text-colored {
    color: #faaa5f;
}

.finance {
    padding: 48px;
    margin-top: 50px;
}

.row {
    padding-bottom: 120px;
}

.col {
    padding-top: 28px;
    padding-right: 10px;
}

.conteudo {
    text-align: center;
    padding: 125px;
}

.nav-link.active,
#fale-conosco button {
    background-color: #faaa5f;
    color: #fff;
}

.nav-link.active:hover {
    color: #faaa5f;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn {
    background-color: #faaa5f;
}

.btn:hover {
    background-color: #f8c697;
}

/* banners */

.bannerss {
    min-height: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: none;
    align-items: center;
}

.banner {
    background-color:  #cacaca;
    height: 350px;
    width: 390px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    text-align: center;

}

p.tip {
    font-size: 3em;
    font-weight: 700;
    color: #13151d;
    text-transform: uppercase;
}


p.second-text {
    font-size: 1em;
    color: #1d1b1b;
    padding: 20px;
}

.banner:hover {
    transform: scale(1.2, 1.2);
}

.bannerss:hover> .banner:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.faq {
    padding: 5.6vh;
}

ul {
    list-style-type: none
}

.faq h2 {
    text-align: center;
    margin-bottom: 24px;
}

.faq__questions__item {
    background-color: #13151d;
    margin-bottom: 16px;
}

.faq__questions__item__question {
    color: #fff;
    font-size: 20px;
    padding: 24px;
    display: block;
    cursor: pointer;
    position: relative
}

.faq__questions__item__question::after {
    content: "+";
    position: absolute;
    top: 0;
    right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px
}

.faq__questions__item__answer {
    height: 0;
    overflow: hidden;
    padding: 0 24px;
    transition: height, 1.1s ease;
    color: #fff;
}

.faq__questions__item--is-open .faq__questions__item__question::after {
    content: "-";
}

.faq__questions__item--is-open .faq__questions__item__answer {
    height: auto;
    padding-bottom: 24px;
    transition: height, 1.1s ease;
}

/* serviços */

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(45deg, #ff820c 20%, #ffd30f 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

/* blog */

.card-blog-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}

.card-blog {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.card-blog .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ff7b00 20%, #fcc695 100%);
    transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card-blog .img-content svg {
    width: 50px;
    height: 50px;
    fill: #212121;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-blog .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: #e8e8e8;
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-blog .content .heading {
    font-size: 32px;
    font-weight: 700;
}

.card-blog:hover .content {
    opacity: 1;
    transform: translateY(0);
}

.card-blog:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
}

.card-blog:hover .img-content svg {
    fill: transparent;
}

/* rodapé */

footer {
    background-color: #1d1b1b;
    color: #e7e6e6;
    max-width: 100%;
    text-align: end;
    padding-right: 4%;
}

@media (max-width: 450px) {
    .bannerss {
        min-height: 200px;
        display: grid;
    }
    
    .banner {
        height: 350px;
        width: 190px;
    }

    .card-blog-container {
        margin-left: 5%;
    }

    .card {
        margin-left: 5%;
    }
}

@media (max-width: 767px) {
    .navbar {
        min-height: 6.5em;
    }

    .container-header:hover {
        background-color: #1d1b1b;
    }

    .rede-sociais,
    .endereco {
        margin: 0;
        padding: 0;
    }

    p.tip {
        font-size: 1.5em;
        font-weight: 700;
        color: #13151d;
        text-transform: uppercase;
        padding:  5px;
        padding-bottom: 0%;
    }
    
    p.second-text {
        padding: 0 5px;
        font-size: 0.7em;
        color: #1d1b1b;
        padding-top: 0%;
    }
}

@media (min-width: 768px) and (max-width: 1700px) {
    p.tip {
        font-size: 2em;
        font-weight: 700;
        color: #13151d;
        text-transform: uppercase;
        padding:  5px;
        padding-bottom: 0%;
        padding-top: 10px;
    }
    
    
    p.second-text {
        padding: 0 20px;
        font-size: .8em;
        color: #1d1b1b;
        padding-top: 0%;
    }
}

@media (max-width: 1199px) {
    .navbar {
        min-height: 6.5em;
    }

    .container-header:hover {
        background-color: #1d1b1b;
    }

    .carousel-item img {
        height: 250px;
        width: 100%;
    }

    .logotipo {
        margin-top: -15%;
    }
}