.navbar {
    background-color: #1d1b1b;
    max-height: 10vh;
}

.nav-link {
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #faaa5f;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #faaa5f;
}

.logotipo {
    width: 200px;
    height: 80%;
}

#sobre-a-meta,
#equipe,
#contatos{
    background-color: #f7d1aeb0;
}

.text-colored {
    color: #faaa5f;
}

.conteudo,
.finance {
    text-align: center;
    padding: 125px;
}

.nav-link.active,
#fale-conosco button {
    background-color: #faaa5f;
    color: #fff;
}

.nav-link.active:hover {
    color: #faaa5f;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn {
    background-color: #fff;
}

@media (max-width: 991px) {
.carousel-item img {
        height: 250px;
        width: 100%;
    }

    .container-header {
        height: 5vh;
    }
}

@media (max-width: 1199px) {
    .carousel-item img {
        height: 250px;
        width: 100%;
    }

    .logotipo {
        margin-top: -15%;
    }
}